<main class="main">
  <div class="dropbox-block">
    <ngx-dropzone #dropzone style="display:none"
      accept=".pdf,.jpg,.jpeg,.png,.tiff,.docx,.doc,.xlsx,.xls,.pptx,.ppt,.csv,.txt,.tlf"
      (change)=" onChangeDropZone($event)">aaaaaaaa</ngx-dropzone>
    <ngx-dropzone class="dropbox" [class.dropbox.init]="files.length === 0"
      [class.error-file-limit-dropbox]="errorType === 'FILE_LIMIT_ERROR'"
      accept=".pdf,.jpg,.jpeg,.png,.tiff,.docx,.doc,.xlsx,.xls,.pptx,.ppt,.csv,.txt,.tlf" [processDirectoryDrop]="true"
      [disableClick]="true" (dragover)="dragOver($event)" (drop)="drop($event)">
      <ngx-dropzone-label class="dropbox-label">
        <div class="flex file-dd-label">
          <span class="drop-box-text mr-4">ファイルをドラッグ＆ドロップ</span>
          <span class="drop-box-text ml-4">または</span>
          <button mat-stroked-button class="storoked-button mat-flat-button" (click)="onClickSelectFile(dropzone)">
            ファイルを選択
          </button>
          <button *ngIf="isVisible" mat-stroked-button class="storoked-button mat-flat-button"
            (click)="onClickSelectDirectory()">
            フォルダ選択
          </button>
        </div>
        <div class="target-files-area" *ngIf="files.length > 0">
          <div class="target-files">
            <div class="target-files-row" *ngFor="let f of files">
              <div class="target-files-area" *ngIf="f.isFile()">
                <div class="file-name">
                  <div class="filename-name-text">ファイル：{{f.getDisplayName()}}</div>
                </div>
              </div>
              <div class="target-files-area" *ngIf="!f.isFile()">
                <div class="file-name">
                  <div class="filename-name-text">ディレクトリ：{{f.getDisplayName()}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-dropzone-label>
    </ngx-dropzone>
  </div>
</main>